<div class="container">
  <div class="row mx-auto my-4 justify-content-center align-items-center">
    <%= image_tag 'logo.png', size: '175x70'%>
    <h2 class="ml-2">登録情報編集</h2>
  </div>
  <div class="row mx-auto">
    <div class="col-6 mx-auto py-4 border d-flex justify-content-center shadow">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :ユーザ名 %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>

        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :新しいパスワード %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %>字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :パスワード確認用 %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :現在のパスワード %><br />
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>

        <div class="actions text-right mt-2">
          <%= f.submit "登録情報を更新する", class:"btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row my-4">
    <p class="mx-auto">
      <%= link_to "退会する", unsubscribe_users_path %>
    </p>
  </div>
</div>