<h1>マイページ</h1>

<%= link_to "登録情報編集", edit_user_registration_path %>
<% @posts.each do |post| %>
  <%= attachment_image_tag post, :image, size:"100x100" %>
  <%= post.name %>
  <%= post.introduction %>
  <%= link_to "投稿詳細", post_path(post) %>
  <div id="like_buttons_<%=post.id%>">
    <%= render 'likes/like', post: post %>
  </div>
<% end %>

<% @post_like.each do |post| %>
  <%= attachment_image_tag post, :image, size:"100x100" %>
  <%= post.name %>
  <%= post.introduction %>
  <%= link_to "投稿詳細", post_path(post) %>
  <div id="like_buttons_<%=post.id%>">
    <%= render 'likes/like', post: post %>
  </div>
<% end %>