<input id="search" type="textbox" placeholder="検索">
<input type="button" value="検索" onclick="searchAddress()">
<input type="button" value="現在位置" onclick="currentLocation()">
<h1>top</h1>
<!--< %= form_with model:@post, local:true do |f| %>-->
<!--  < %= f.text_field :name %>-->
<!--  < %= f.label :コメント %>-->
<!--  < %= f.text_field :introduction %>-->
<!--  < %= f.label :緯度 %>-->
<!--  < %= f.text_field :latitude %>-->
<!--  < %= f.text_field :longitude %>-->
<!--  < %= f.submit '投稿' %>-->
<!--< % end %>-->
<% @posts.each do |post| %>
  <div>
  <%= attachment_image_tag post, :image %>
  <%= post.id %>
  <%= post.name %>
  <%= post.introduction %>
  <%= post.user.name %>
  <%= post.latitude %>
  <%= post.longitude %>
  <%= link_to "投稿詳細", post_path(post.id) %>
  </div>
<% end %>


<input id="address" type="textbox" value="" placeholder="場所を入力">
<input type="button" value="探す" onclick="codeAddress()">
<%= form_with model:@post, local:true do |f| %>
  <input type="hidden" name="map[address]" id="hidden_address">
  <%= f.attachment_field :image %>
  <%= f.label :name, "スポット名" %>
  <%= f.text_field :name %>
  <%= f.label :introduction, "コメント" %>
  <%= f.text_area :introduction %>
  <%#= f.hidden_field :user_id, value: current_user.id %>
  <!--< %= f.label :star, "評価" %>-->
  <!--<div id="rating-form">-->
  <!--  < %= f.hidden_field :star, :value => 'score' %>-->
  <!--</div>-->
  <%= f.submit "投稿する" %>
<% end %>
<!--<script>-->
<!--  $('#rating-form').raty({-->
<!--    starOn: "< %= asset_path('star-on.png') %>",-->
<!--    starOff: "< %= asset_path('star-off.png') %>",-->
<!--    starhalf: "< %= asset_path('star-half.png') %>",-->
<!--    scoreName: 'post[star]'-->
<!--  });-->
</script>

<div id='map', style="height: 400px;, width: 600px;"></div>
<!--<div><%#= render @posts %></div>-->
<script>
let map
let geocoder
let marker

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {
      lat: 35.681,
      lng: 139.767
    },
    zoom: 14
  });

  <% @posts.each do |post| %>
    pos = new google.maps.LatLng(
      <%= post.latitude %>,
      <%= post.longitude %>
      );
      default_marker = new google.maps.Marker({
        map: map,
        position: pos,
      });
  <% end %>
}

function codeAddress(){
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      if(marker != null){
        marker.setMap(null);
      }
      marker = null;
      marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
      let post_name = document.getElementById('post_name');
      post_name.setAttribute("value", inputAddress);
      let hidden_address = document.getElementById('hidden_address');
      hidden_address.setAttribute("value", inputAddress);
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}

function searchAddress(){
  let inputSearchAddress = document.getElementById('search').value;

  geocoder.geocode( { 'address': inputSearchAddress }, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}

function currentLocation(){
  if(!navigator.geolocation){
    infoWindow.setPosition(map.getCenter());
    infoWindow.setContent('Geolocation に対応していません。');
    infoWindow.open(map);
  }
  navigator.geolocation.getCurrentPosition(function(position) {
    LatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
    map = new google.maps.Map(document.getElementById('map'),{
      center: LatLng,
      zoom: 14
    });
    marker = new google.maps.Marker({
      map: map,
      position: LatLng
    });
  });
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["GOOGLE_MAP_KEY"]%>&callback=initMap" async defer></script>