<div id='map', style="height: 400px;, width: 600px;"></div>
<script>
  let map
  let geocoder
  let marker

  function initMap(){
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      center: {
        lat: 35.681,
        lng: 139.767
      },
      zoom: 14
    });

    <% @posts.each do |post| %>
      pos = new google.maps.LatLng(
        <%= post.latitude %>,
        <%= post.longitude %>
        );
        default_marker = new google.maps.Marker({
          map: map,
          position: pos,
        });
    <% end %>
  }

  function codeAddress(){
    let inputAddress = document.getElementById('address').value;

    geocoder.geocode( { 'address': inputAddress}, function(results, status) {
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);
        if(marker != null){
          marker.setMap(null);
        }
        marker = null;
        marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
        let post_name = document.getElementById('post_name');
        post_name.setAttribute("value", inputAddress);
        let hidden_address = document.getElementById('hidden_address');
        hidden_address.setAttribute("value", inputAddress);
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }

  function searchAddress(){
    let inputSearchAddress = document.getElementById('search').value;

    geocoder.geocode( { 'address': inputSearchAddress }, function(results, status) {
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
}

  function currentLocation(){
    navigator.geolocation.getCurrentPosition(function(position) {
      LatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
      map = new google.maps.Map(document.getElementById('map'),{
        center: LatLng,
        zoom: 14
      });
      marker = new google.maps.Marker({
        map: map,
        position: LatLng
      });
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["GOOGLE_MAP_KEY"]%>&callback=initMap" async defer></script>

<div class="row">
  <% @posts.each do |post| %>

  <div class="col-2 d-flex flex-column">
  <%= link_to post_path(post.id) do %>
    <div>
      <%= attachment_image_tag post, :image, size: "100x100", style:"object-fit: contain;", fallback: "no_image.png" %>
    </div>
    <div>
      <%= post.name %>
    </div>
    <div class="post-star" data-score="<%= post.star %>"></div>
    <div>
      <%= post.introduction %>
    </div>
    <div>
      <%= post.user.name %>
    </div>
    <div id="like_buttons_<%=post.id%>">
      <%= render 'likes/like', post: post %>
    </div>
  <% end %>

  </div>
  <% end %>
</div>

<script>
  $('.post-star').raty({
    readOnly: true,
    score: function(){
      return $(this).attr('data-score');
    },
    path: '/assets'
  });
</script>