<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["GOOGLE_MAP_KEY"]%>&callback=initMap" async defer></script>
<%= include_gon %>
<%= javascript_include_tag 'initMap.js' %>
<%= javascript_include_tag 'searchAddress.js' %>
<%= javascript_include_tag 'currentLocation.js' %>

<div class="container-fluid border">
  <div class="row border" style="height: 700px;">
    <div class="col-md-9 order-md-1" id='map' style="height: 700px;"></div>
    <div id="pagenate" class="border col-md-3 order-md-0">
      <div class="post-list" style="overflow-y: scroll; height: 700px;">
        <% @posts.each do |post| %>
          <div class="row card border shadow">
            <%= link_to post_path(post.id), style:"text-decoration: none; color: black;" do %>
              <%= attachment_image_tag post, :image, fallback: asset_path("no_image.png"), class:"card-img-top" %>
              <div class="card-body">
                <h6 class="card-title">
                  <%= post.name %>
                </h6>
                <div class="post-star" data-score="<%= post.star %>"></div>
                <p class="card-text">
                  <%= post.introduction %>
                </p>
                <h7 class="card-subtitle text-muted">
                  <%= l post.created_at %>
                  <%= post.user.name %>さんが投稿
                </h7>
                <div id="like_buttons_<%=post.id%>">
                  <%= render 'likes/like', post: post %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= paginate @posts %>
    </div>
  </div>
</div>
<%= javascript_include_tag 'review.js' %>