<%= include_gon %>
<%= javascript_include_tag "application" %>
<div id='map', style="height: 400px;, width: 600px;"></div>
<script>
  let map;
  let geocoder;
  let marker = [];
  let infoWindow = [];

  function initMap(){
    geocoder = new google.maps.Geocoder()
    // map = new google.maps.Map(document.getElementById('map'), {
    //   center: {
    //     lat: 35.681,
    //     lng: 139.767
    //   },
    //   zoom: 14
    // });

    navigator.geolocation.getCurrentPosition(function(position) {
      LatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
      map = new google.maps.Map(document.getElementById('map'),{
        center: LatLng,
        zoom: 14
      });

    let markerData = gon.posts;

    console.log(gon.posts);
    console.log(gon.posts[1]['latitude']);

    for (let i = 0; i < markerData.length; i++) {
      // let markerLatLng = new google.maps.LatLng({lat: markerData[i]['latitude'], lng: markerData[i]['longitude']});
      let markerLatLng = {lat: parseFloat( markerData[i]['latitude'] ), lng: parseFloat( markerData[i]['longitude'] )};
      // console.log(markerLatLng);
      marker[i] = new google.maps.Marker({
        map: map,
        position: markerLatLng
      });

      const postId = markerData[i]['id'];
      infoWindow[i] = new google.maps.InfoWindow({
        content: '<a href="/posts/' + postId + '">' + markerData[i]['name'] + '</a>'
      });

      markerEvent(i);

    }

    function markerEvent(i) {
      marker[i].addListener('click', function() {
        infoWindow[i].open(map, marker[i]);
      });
    }

      // marker = new google.maps.Marker({
      //   map: map,
      //   position: LatLng
      // });
      // console.log(marker);
      // < % @posts.each do |post| %>
      //   pos = new google.maps.LatLng(
      //     < %= post.latitude %>,
      //     < %= post.longitude %>
      //     );
      //     default_marker = new google.maps.Marker({
      //       map: map,
      //       position: pos,
      //     });
      // < % end %>
    });


    // < % @posts.each do |post| %>
    //   pos = new google.maps.LatLng(
    //     < %= post.latitude %>,
    //     < %= post.longitude %>
    //     );
    //     default_marker = new google.maps.Marker({
    //       map: map,
    //       position: pos,
    //     });
    // < % end %>

  }

  // function codeAddress(){
  //   let inputAddress = document.getElementById('address').value;

  //   geocoder.geocode( { 'address': inputAddress}, function(results, status) {
  //     if (status == 'OK') {
  //       map.setCenter(results[0].geometry.location);
  //       if(marker != null){
  //         marker.setMap(null);
  //       }
  //       marker = null;
  //       marker = new google.maps.Marker({
  //           map: map,
  //           position: results[0].geometry.location,
  //           icon: {
  //             url: "https://maps.google.com/mapfiles/ms/micons/yellow-dot.png",
  //             scaledSize: new google.maps.Size(40, 40)
  //           }
  //       });
  //       let post_name = document.getElementById('post_name');
  //       post_name.setAttribute("value", inputAddress);
  //       let hidden_address = document.getElementById('hidden_address');
  //       hidden_address.setAttribute("value", inputAddress);
  //     } else {
  //       alert('Geocode was not successful for the following reason: ' + status);
  //     }
  //   });
  // }

  // function searchAddress(){
  //   let inputSearchAddress = document.getElementById('search').value;

  //   geocoder.geocode( { 'address': inputSearchAddress }, function(results, status) {
  //     if (status == 'OK') {
  //       map.setCenter(results[0].geometry.location);
  //     } else {
  //       alert('Geocode was not successful for the following reason: ' + status);
  //     }
  //   });
  // }

  function currentLocation(){
    navigator.geolocation.getCurrentPosition(function(position) {
      LatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
      map = new google.maps.Map(document.getElementById('map'),{
        center: LatLng,
        zoom: 16
      });
      marker = new google.maps.Marker({
        map: map,
        position: LatLng
      });
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["GOOGLE_MAP_KEY"]%>&callback=initMap" async defer></script>

<div id="pagenate">
<div class="row my-3 post-list">
  <% @posts.each do |post| %>

  <div class="col col-2 d-flex flex-column border shadow mx-1">
  <%= link_to post_path(post.id), style:"text-decoration: none; color: black;" do %>
    <div>
      <%= attachment_image_tag post, :image, size: "150x100", style:"object-fit: contain;", fallback: "no_image.png" %>
    </div>
    <div>
      <%= post.name %>
    </div>
    <div class="post-star" data-score="<%= post.star %>"></div>
    <div>
      <%= post.introduction %>
    </div>
    <div>
      <%= post.user.name %>
    </div>
    <div id="like_buttons_<%=post.id%>">
      <%= render 'likes/like', post: post %>
    </div>
  <% end %>

  </div>
  <% end %>
    <%= paginate @posts, remote: true %>
</div>

<script>
  $('.post-star').raty({
    readOnly: true,
    score: function(){
      return $(this).attr('data-score');
    },
    path: '/assets'
  });
</script>

<script>
   $(function() {
     $('.jscroll').jscroll({
       contentSelector: '.post-list',
       nextSelector: 'span.next: last a'
     });
   });
</script>
</div>