<%= include_gon %>
<%= javascript_include_tag "application" %>
<div id='map', style="height: 400px;, width: 600px;"></div>
<script src="../../../assets/javascripts/initMap.js"></script>
<script src="../../../assets/javascripts/searchAddress.js"></script>
<script src="../../../assets/javascripts/currentLocation.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["GOOGLE_MAP_KEY"]%>&callback=initMap" async defer></script>

<div id="pagenate">
  <div class="row my-3 post-list">
    <% @posts.each do |post| %>
      <div class="col col-2 d-flex flex-column border shadow mx-1">
        <%= link_to post_path(post.id), style:"text-decoration: none; color: black;" do %>
          <div>
            <%= attachment_image_tag post, :image, size: "150x100", style:"object-fit: contain;", fallback: "no_image.png" %>
          </div>
          <div>
            <%= post.name %>
          </div>
          <div class="post-star" data-score="<%= post.star %>"></div>
          <div>
            <%= post.introduction %>
          </div>
          <div>
            <%= post.user.name %>
          </div>
          <div id="like_buttons_<%=post.id%>">
            <%= render 'likes/like', post: post %>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= paginate @posts, remote: true %>
  </div>
</div>

<script>
  $('.post-star').raty({
    readOnly: true,
    score: function(){
      return $(this).attr('data-score');
    },
    path: '/assets'
  });
</script>