<div class="container">
  <div class="row mx-auto my-4 justify-content-center align-items-center">
    <%= image_tag 'logo.png', size: '175x70'%>
    <h2 class="ml-2">ログイン</h2>
  </div>
  <div class="row mx-auto">
    <div class="col-6 mx-auto py-4 border d-flex justify-content-center shadow">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :パスワード %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <div class="actions text-right mt-2">
          <%= f.submit "ログイン", class:"btn-success rounded" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row my-4">
    <p class="mx-auto">ユーザ登録がお済でない方は<%= link_to "こちら", new_user_registration_path %>から新規登録</p>
  </div>
</div>