<div class="container-fluid border">
  <div class="row border">
    <div class="border col-3">
      <%= form_with model:@post, local:true do |f| %>
      <input type="hidden" name="map[address]" id="hidden_address">
      <div class="row my-2" style="width: 300px; height: 200px;">
        <%= f.attachment_field :image %>
      </div>
      <div class="row my-2">
        <%= f.text_field :name, placeholder:"スポット名を入力" %>
      </div>
      <div class="row my-2" id="rating-form">
        <%= f.label :star, "評価" %>
        <%= f.hidden_field :star, :value => 'score' %>
      </div>
      <div class="row my-2">
        <%= f.text_area :introduction, placeholder:"コメントを入力" %>
      </div>
      <ul>
        <li id="getlat"></li>
        <li id="getlng"></li>
      </ul>
      <%= f.hidden_field :latitude, id:"postLat" %>
      <%= f.hidden_field :longitude, id:"postLng" %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <div class="row my-2">
        <%= f.submit "投稿する", class:"btn btn-success" %>
      </div>
      <% end %>
    </div>
    <script>
      $('#rating-form').raty({
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        scoreName: 'post[star]'
      });
    </script>
    <div class="col-9" id='map'></div>
  </div>
</div>

<script>
  let map
  let geocoder
  let marker
  let clickMarker

  function initMap(){
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      center: {
        lat: 35.681,
        lng: 139.767
      },
      zoom: 14
    });

    map.addListener('click', function(e) {
      getClickLatLng(e.latLng, map);
    });
  }

  function getClickLatLng(lat_lng, map) {
    document.getElementById('getlat').textContent = lat_lng.lat();
    document.getElementById('getlng').textContent = lat_lng.lng();
    console.log(clickMarker != null);
    if (clickMarker != null){
      clickMarker.setMap(null);
    }
    clickMarker = null;
    clickMarker = new google.maps.Marker({
      position: lat_lng,
      map: map
    });
    let postLat = document.getElementById('postLat')
    postLat.value = lat_lng.lat();
    let postLng = document.getElementById('postLng')
    postLng.value = lat_lng.lng();
  }

  function searchAddress(){
    let inputSearchAddress = document.getElementById('search').value;

    geocoder.geocode( { 'address': inputSearchAddress }, function(results, status) {
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }

  function currentLocation(){
    navigator.geolocation.getCurrentPosition(function(position) {
      LatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
      map = new google.maps.Map(document.getElementById('map'),{
        center: LatLng,
        zoom: 14
      });
      marker = new google.maps.Marker({
        map: map,
        position: LatLng
      });
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["GOOGLE_MAP_KEY"]%>&callback=initMap" async defer></script>