<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["GOOGLE_MAP_KEY"]%>&callback=initPostMap" async defer></script>
<%= include_gon %>
<%= javascript_include_tag 'initPostMap.js' %>
<%= javascript_include_tag 'searchAddress.js' %>
<%= javascript_include_tag 'currentLocation.js' %>

<div class="container-fluid border">
  <div class="row border">
    <div class="col-md-9 order-md-1" id='map' style="min-height: 500px;"></div>
    <div class="border col-md-3 order-md-0 card">
      <%= attachment_image_tag @post, :image, fallback: asset_path("no_image.png"), class:"card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">
          <%= @post.name %>
        </h5>
        <div class="post-star mb-2" data-score="<%= @post.star %>"></div>
        <p class="card-text">
          <%= @post.introduction %>
        </p>
        <h6 class="card-subtitle text-muted">
          <%= l @post.created_at %>
          <%= @post.user.name %>さんが投稿
        </h6>
        <div id="like_buttons_<%=@post.id%>">
          <%= render 'likes/like', post: @post %>
        </div>
        <% if @post.user == current_user %>
          <%= link_to "編集する", edit_post_path(@post), class:"card-link" %>
          <%= link_to "削除する", post_path(@post), method: :delete, data: {confirm: "投稿を削除しますか？"}, class:"card-link" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'review.js' %>