<!DOCTYPE html>
<html>
  <head>
    <title>Tadaspot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body class="vh-100">
    <header class="shadow-sm border-bottom">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="/"><%= image_tag 'logo.png', size: '125x50' %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto">
              <!--<input id="search" type="textbox" placeholder="検索">-->
              <!--<input type="button" value="検索" onclick="searchAddress()">-->

              <input id="address" type="textbox" value="" placeholder="場所を入力">
              <input type="button" value="探す" onclick="codeAddress()">
              <input type="button" value="現在位置" onclick="currentLocation()">

              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to "投稿する", new_post_path, class:"nav-link text-dark" %>
                </li>
                <li class="nav-item">
                  <%= link_to "マイページ", users_path, class:"nav-link text-dark" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"nav-link text-dark" %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "新規登録", new_user_registration_path, class:"nav-link text-dark" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", new_user_session_path, class:"nav-link text-dark" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
    <footer class="bg-dark" style="height: 50px;">
      <p class="text-light mx-auto text-center">
        Tadaspot
      </p>
    </footer>
  </body>
</html>